<a href="https://colab.research.google.com/github/kaaaaaav/python-practice/blob/information/information_lesson_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# range 함수의 다양한 형태
# range(a,b) -> a에서 b-1까지 연속되어 숫자 범위로 이루어진 형태로 1씩 증가한다. (a 이상 b 미만)
# range(4, 9) -> 4 이상 9 미만(4,5,6,7,8)
range(4, 9)
# range(a) -> "0"에서부터 a-1까지 연속된 숫자 범위로 1씩 증가한다. (0 이상 a 미만)
# range(7) -> 0 이상 7 미만(0,1,2,3,4,5,6)
range(7)
# range(a,b,c) -> a에서 b-1까지 연속되어 숫자 범위로 이루어진 형태로 c씩 증가한다. (a 이상 b 미만 c씩 증가)

range(0, 7)

In [ ]:
# while문 - ~하는 동안
num = 12
while num <= 523: #변수 num이 5보다 작거나 같은 동안
  print(num)
  num += 35 # (= num = num + 35) - > 523보다 작은 동안에는 다시 3번 행으로 되돌아감
# while 블록 아래에 들여쓰기한 코드가 하나도 없으면 오류가 뜬다

12
47
82
117
152
187
222
257
292
327
362
397
432
467
502

In [ ]:
# 예제1
num = 1

while num <=10:
	print("num :", num)
	num += 1

num : 1
num : 2
num : 3
num : 4
num : 5
num : 6
num : 7
num : 8
num : 9
num : 10

In [ ]:
# 예제 2
s = 1

while s <= 9:
	print("3 *",s,'=', 3 * s)
	s += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# + for문 추가
for num in range(5,0,-1):
	print(int(num) * "*")

*****
****
***
**
*

In [ ]:
# + for문 추가 2
for num in range(1, 6):
	print(int(num) * "*")

*
**
***
****
*****