<a href="https://colab.research.google.com/github/kaaaaaav/python-practice/blob/information/information_lesson_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# for문 : 지정된 횟수에 따라 반복
# for : ~하는 동안
# in : 안에 있다, 속한다
# 예시
for i in range(1,11,1): # range(n 이상, m 미만, o씩 증가)
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum = 0
for num in range(1, 11, 1):
	sum = sum + num
print('1부터 10까지 정수의 합 =', sum)

1부터 10까지 정수의 합 = 55

In [ ]:
for num in range(1, 101, 1):
	print('정수 =', num)
	if num % 2 == 0:
		print('2배수')

정수 = 1
정수 = 2
2배수
정수 = 3
정수 = 4
2배수
정수 = 5
정수 = 6
2배수
정수 = 7
정수 = 8
2배수
정수 = 9
정수 = 10
2배수
정수 = 11
정수 = 12
2배수
정수 = 13
정수 = 14
2배수
정수 = 15
정수 = 16
2배수
정수 = 17
정수 = 18
2배수
정수 = 19
정수 = 20
2배수
정수 = 21
정수 = 22
2배수
정수 = 23
정수 = 24
2배수
정수 = 25
정수 = 26
2배수
정수 = 27
정수 = 28
2배수
정수 = 29
정수 = 30
2배수
정수 = 31
정수 = 32
2배수
정수 = 33
정수 = 34
2배수
정수 = 35
정수 = 36
2배수
정수 = 37
정수 = 38
2배수
정수 = 39
정수 = 40
2배수
정수 = 41
정수 = 42
2배수
정수 = 43
정수 = 44
2배수
정수 = 45
정수 = 46
2배수
정수 = 47
정수 = 48
2배수
정수 = 49
정수 = 50
2배수
정수 = 51
정수 = 52
2배수
정수 = 53
정수 = 54
2배수
정수 = 55
정수 = 56
2배수
정수 = 57
정수 = 58
2배수
정수 = 59
정수 = 60
2배수
정수 = 61
정수 = 62
2배수
정수 = 63
정수 = 64
2배수
정수 = 65
정수 = 66
2배수
정수 = 67
정수 = 68
2배수
정수 = 69
정수 = 70
2배수
정수 = 71
정수 = 72
2배수
정수 = 73
정수 = 74
2배수
정수 = 75
정수 = 76
2배수
정수 = 77
정수 = 78
2배수
정수 = 79
정수 = 80
2배수
정수 = 81
정수 = 82
2배수
정수 = 83
정수 = 84
2배수
정수 = 85
정수 = 86
2배수
정수 = 87
정수 = 88
2배수
정수 = 89
정수 = 90
2배수
정수 = 91
정수 = 92
2배수
정수 = 93
정수 = 94
2배수
정수 = 95
정수 = 96
2배수
정수 = 97
정수 = 98
2배수
정수 = 99
정수 = 100
2배수