<a href="https://colab.research.google.com/github/kaaaaaav/python-practice/blob/information/information_lesson_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#데이터 타입이 다르면 계산에 문제가 생긴다
# input() 함수로 입력 받는 데이터는 모두 '문자'로 인식한다
# 이걸 해결하기 위해 데이터의 타입을 강제로 변환시킨다
# 정수 : int, 실수 : float, 문자 : str

# 데이터 타입 통일을 안한 경우 -> 오류가 생김(TypeError)
p  = 3.14
r = input("반지름은? ")
res = 2 * p * r
print('넓이 : ',res)

반지름은? 34

TypeError: ignored

In [ ]:
# 데이터 타입을 통일한 경우(정수로) -> 오류가 생기지 않는다 (단, input란에 정수가 아닌 값을 넣으면 오류가 생긴다)
p  = 3.14
r = int(input("반지름은? "))
res = 2 * p * r
print('넓이 : ',res)

반지름은? 4
넓이 :  25.12

In [ ]:
# int(정수)타입에 실수값을 넣은 경우 -> 데이터 타입 오류가 뜬다
p  = 3.14
r = int(input("반지름은? "))
res = 2 * p * r
print('넓이 : ',res)

반지름은? 4.4

ValueError: ignored

In [ ]:
# 데이터 타입을 실수로 변경한 경우 -> 실수 범위의 숫자는 모두 인식한다
p  = 3.14
r = float(input("반지름은? "))
res = 2 * p * r
print('넓이 : ',res)

반지름은? 25.348388559
넓이 :  159.18788015052002

In [ ]:
# 정수로 바꾸면 이런 것도 가능(문자의 반복)
p  = "3.14"
r = int(input("반지름은? "))
res =  2 * p * r
print('넓이 : ',res)

반지름은? 8
넓이 :  3.143.143.143.143.143.143.143.143.143.143.143.143.143.143.143.14

In [ ]:
# 변수의 데이터 타입 바꾸기 (정수 -> 실수)
# 밑 자료 해석 : score라는 변수에다 45라는 값을 넣는다 -> score 변수를 실수값으로 변경한다
score = 45
score =float(score)
print(score)

45.0

In [ ]:
# 실수 -> 정수로 변환하는 경우
score = 34.634
score = int(score)
print(score)

34

In [ ]:
score = 34.634
score = int(score)
print(score * 3)

102

In [ ]:
# 실수 or 정수 -> 문자로 변환하는 경우
score = 334.53
score = str(score)
print(score * 5)

334.53334.53334.53334.53334.53

In [ ]:
score = "383.1747"
score = float(score)
print(score + 45)

428.1747

In [ ]:
# 실수 -> 문자 -> 문자 + 숫자로 인식되므로 아래 코드는 오류가 난다
score = 383.1747
score = str(score)
print(score + 45)

TypeError: ignored

In [ ]:
#실수값을 정수로 바꾸면 내림을 해버린다 (정확히 : 정수부분만 갖고온다)
a = 33.9
a = int(a)
print(a)

33

In [ ]:
# 한 데이터를 같은 유형의 데이터로 변환하는 경우 -> 당연히 변화 없다
a = 3
a = int(a)
print(a)

3

In [ ]:
# 데이터 타입을 2번 이상 바꾸는 경우 : 제일 마지막으로 바꾼 데이터 타입으로 적용된다
a = 33.34
a = int(a)
a = float(a)
print(a)

33.0

In [ ]:
# 문자의 내용이 실수이면(ex : "33.34") 한번에 정수로 바꿀 수 없다 -> 내용물이 실수이기 때문!
a = "33.34"
a = int(a)

ValueError: ignored

# 수행대비 (올바르게 출력되는 경우)

In [ ]:
print(float(34))
print(int(3342.3872))
print(str(383)+"23")
print(str(383),"23")
print(34.1, 23.4)
print(35.24, "283")
print(int(str(float(324))))+33)
print(int(float(str(23.3871)))+234)

SyntaxError: ignored

In [ ]:
x = 300
x = 1
print(x * 3)

3

# 수행대비(오류가 발생하는 경우)

In [2]:
print(float(int(str(23.3871)))+234) # 23.3871 입력

ValueError: ignored